@font-face {
  font-family: 'league-spartan';
  src: url(./assets/fonts/LeagueSpartan-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf) format('truetype');
}